<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charaset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>
    <%= @page_title %>
  </title>
  <%= @meta %>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
  <header class="container">
    <nav>
      <ul>
        <li><kbd>GES233</kbd><b>'s Blog</b></li>
      </ul>
      <ul>
      </ul>
    </nav>
  </header>
  <main class="container">
    <article class="heti">
      <header>
        <h2><%= @post.title %></h2>
        <div style="text-align:right" class="heti-skip">
          <!--可以改成一个小的表格-->
          <p><small>创建于 <%= NaiveDateTime.to_date(@post.create_at) |> Date.to_string %>  编辑于 <%= NaiveDateTime.to_date(@post.update_at) |> Date.to_string %></small></p>
        </div>
      </header>
      <main>
        <div>

<%= @inner_content %>

        </div>
      </main>
    </article>
  <main>
  <footer>
    <div class="container">
    </div>
  </footer>
</body>

</html>
