<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charaset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>
    <%= @post_title %>
  </title>
  <%= @meta %>
</head>

<body>
  <header class="bg-base-100/80 backdrop-blur-sm sticky top-0 z-10">
    <div class="navbar bg-base-100 shadow-sm px-4 sm:px-6 lg:px-8">
      <div class="flex-1">
        <a  href="/" class="btn btn-ghost text-xl"><kbd>GES233</kbd>'s Blog</a>
      </div>
      <ul class="menu menu-horizontal px-1">
      <li>
        <details>
          <summary>欢迎</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><a href="/about">关于</a></li>
            <li><a href="/friends">友链</a></li>
          </ul>
        </details>
      </li>
    </ul>
    </div>
  </header>
  <main class="w-full bg-base-200 py-12 px-4">
    <div class="mx-auto max-w-4xl bg-base-100 rounded-lg shadow-sm p-8 sm:p-12">
      <div class="card">

<%= GES233.Blog.Renderer.PostComponents.card(@post, :article) %>

        <div class="card-body">
          <%= if !is_nil(@post.toc), do: @post.toc |> GES233.Blog.Renderer.PostComponents.show_toc %>
          <div class="card-body prose sm:prose-lg">

<%= @inner_content %>

            <div style="text-align:center"><%= case @post.progress do %>
              <% :final -> %>
                ——完——
              <% :longterm -> %>
                ——长期更新——
              <% [:longterm, p] -> %>
                <%= if p <= 50, do: "——亟待更新——", else: "——长期更新——" %>
              <% [:wip, p] -> %>
                <%= if p <= 50, do: "——亟待更新——", else: "——未完待续——" %>
              <% [:blocking, _] -> %>
                ——无限期停止撰写——
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="mt-16 py-8">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <p class="text-center text-sm text-base-content">
        (c) <%= DateTime.utc_now().year %> GES233
      </p>
      <p class="text-center text-sm text-base-content">
        Powered by <a href="https://github.com/GES233/simple_blog_engine"><code>GES233/simple_blog_engine</code></a>
      </p>
    </div>
  </footer>
</body>

</html>
