<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charaset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>
    <%= @page_title %>
  </title>
  <%= @meta %>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
  <header class="container">
    <nav>
      <ul>
        <li><kbd>GES233</kbd>'s Blog</li>
      </ul>
      <ul>
      </ul>
    </nav>
  </header>
  <main class="container">
    <article class="heti">
      <%= for post <- @posts do %>
        <%= GES233.Blog.Post.Components.card(post, :index) %>
      <% end %>
    </article>
  </main>
  <footer>
      <!-- TODO: Implement page numbering -->
  </footer>
</body>

</html>
