<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charaset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>
    <%= @page_title %>
  </title>
  <%= @meta %>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
  <header class="container">
    <nav>
      <ul>
        <li><a href="/"><kbd>GES233</kbd>'s Blog</a></li>
      </ul>
      <ul>
        <li>
          <details class="dropdown">
          <summary role="button">欢迎</summary>
            <ul dir="rtl">
              <li><a href="/about">关于</a></li>
              <li><a href="/friends">友链</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </nav>
  </header>
  <main class="container">
    <article class="heti">

      <main>
        <%= if !is_nil(@page.toc) do %>
        <div class="heti-skip">
          <details class="dropdown">
            <summary>目录</summary>
            <%= @page.toc %>
          </details>
        </div>
        <% end %>
        <div>

<%= @inner_content %>

        </div>
      </main>
    </article>
  <main>
  <footer>
    <div class="container">
      <small>Powered by <a href="https://github.com/GES233/simple_blog_engine">GES233/simple_blog_engine</a></small>
    </div>
  </footer>
</body>

</html>
