@import "tailwindcss" source(none);

@source "../css";
@source "../js";
@source "../../lib/ges233";
@source "../../templates";

/* 使用的是 TailwindCSS-Standalone，
  那几十兆中就正好包括了一些常见的插件，引入即可。
 */
@plugin "@tailwindcss/typography";

/* 用于启用 "hero-#{ICON}" 类的一个 Tailwind 插件。
   heroicons 的安装本身由你的 mix.exs 管理。 */
@plugin "../vendor/heroicons";

/* daisyUI Tailwind 插件。您可以通过以下方式获取最新版本来更新此文件：
    curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui.js 
   请务必查看 daisyUI 更新日志：https://daisyui.com/docs/changelog/ */
@plugin "../vendor/daisyui" {
  themes: false;
}

@plugin "../vendor/daisyui-theme" {
  name: "noctilucent";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(23.04% 0.069 271.65);
  --color-base-200: oklch(19% 0.032 291.65);
  --color-base-300: oklch(17.79% 0.027 290.48);
  --color-base-content: oklch(94.81% 0.028 102.48);
  --color-primary: oklch(78.14% 0.081 305.29);
  --color-primary-content: oklch(19% 0.032 291.65);
  --color-secondary: oklch(63.44% 0.044 268.26);
  --color-secondary-content: oklch(94.81% 0.028 102.48);
  --color-accent: oklch(84.16% 0.109 79.34);
  --color-accent-content: oklch(19% 0.032 291.65);
  --color-neutral: oklch(63.44% 0.044 268.26);
  --color-neutral-content: oklch(94.81% 0.028 102.48);
  --color-info: oklch(88% 0.059 254.128);
  --color-info-content: oklch(35% 0.144 278.697);
  --color-success: oklch(93% 0.127 124.321);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(88.8% 0.151 53.4);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 1;
}

@plugin "../vendor/daisyui-theme" {
  name: "core-cream-soup";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.026 102.212);
  --color-base-200: oklch(97% 0.071 103.193);
  --color-base-300: oklch(94% 0.129 101.54);
  --color-base-content: oklch(42% 0.095 57.708);
  --color-primary: oklch(84.16% 0.109 79.34);
  --color-primary-content: oklch(22.3% 0.12 51);
  --color-secondary: oklch(94.5% 0.15 93.6);
  --color-secondary-content: oklch(43.1% 0.126 102.1);
  --color-accent: oklch(55% 0.135 66.442);
  --color-accent-content: oklch(89% 0.038 81.8);
  --color-neutral: oklch(83.8% 0.089 97.4);
  --color-neutral-content: oklch(40.9% 0.037 26.9);
  --color-info: oklch(86.7% 0.059 282.4);
  --color-info-content: oklch(40.1% 0.088 301.3);
  --color-success: oklch(78.4% 0.076 124.3);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(78.6% 0.255 91.9);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(86.1% 0.21 23.1);
  --color-error-content: oklch(38.6% 0.213 15);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 1;
}

/* TODO: 针对 @tailwindcss/typography 的配置
  参见 https://stackoverflow.com/questions/79626704/how-to-configure-tailwindcss-typography-plugin-from-tailwindcss-v4

  https://github.com/tailwindlabs/tailwindcss-typography/issues/372#issuecomment-2616848354 */
@utility prose {
  --tw-prose-body: var(--color-primary);
  --tw-prose-headings: var(--color-primary);
  --tw-prose-bold: var(--color-primary);
  --tw-prose-quote-borders: var(--color-slate-300);
  --tw-prose-quotes: var(--color-muted-foreground);
  --tw-prose-code: var(--color-primary);

  code {
    &::before,
    &::after {
      display: none;
    }
    text-wrap: nowrap;
  }

  blockquote {
    font-weight: 400;
  }

  p {
    @apply my-2;
  }

  /* 标题的间距也需要调整，使其更紧凑 */
  h2 {
    @apply mt-8 mb-2;
  }
  
  h3 {
    @apply mt-6 mb-1;
  }

  /* 列表项之间也不需要那么大的空隙 */
  li {
    @apply my-[1px];
  }
}
