@import "tailwindcss" source(none);

@source "../css";
@source "../js";
@source "../../lib/ges233";
@source "../../templates";

/* 使用的是 TailwindCSS-Standalone，
  那几十兆中就正好包括了一些常见的插件，引入即可。
 */
@plugin "@tailwindcss/typography";

/* 用于启用 "hero-#{ICON}" 类的一个 Tailwind 插件。
   heroicons 的安装本身由你的 mix.exs 管理。 */
@plugin "../vendor/heroicons";

/* daisyUI Tailwind 插件。您可以通过以下方式获取最新版本来更新此文件：
    curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui.js 
   请务必查看 daisyUI 更新日志：https://daisyui.com/docs/changelog/ */
@plugin "../vendor/daisyui" {
  themes: false;
}

@plugin "../vendor/daisyui-theme" {
  name: "noctilucent";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(23.04% 0.069 271.65);
  --color-base-200: oklch(19% 0.032 291.65);
  --color-base-300: oklch(17.79% 0.027 290.48);
  --color-base-content: oklch(94.81% 0.028 102.48);
  --color-primary: oklch(78.14% 0.081 305.29);
  --color-primary-content: oklch(19% 0.032 291.65);
  --color-secondary: oklch(63.44% 0.044 268.26);
  --color-secondary-content: oklch(94.81% 0.028 102.48);
  --color-accent: oklch(84.16% 0.109 79.34);
  --color-accent-content: oklch(19% 0.032 291.65);
  --color-neutral: oklch(63.44% 0.044 268.26);
  --color-neutral-content: oklch(94.81% 0.028 102.48);
  --color-info: oklch(88% 0.059 254.128);
  --color-info-content: oklch(35% 0.144 278.697);
  --color-success: oklch(93% 0.127 124.321);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(88.8% 0.151 53.4);
  --color-error-content: oklch(27% 0.105 12.094);

  /* （AI 生成未验证）只是一个更文学的柔和配色参考 */
  --color-muted: var(--color-neutral);
  --color-muted-foreground: oklch(70% 0.02 260);

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}

@plugin "../vendor/daisyui-theme" {
  name: "core-cream-soup";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.024 102.2);
  --color-base-200: oklch(94.5% 0.093 103.2);
  --color-base-300: oklch(92.5% 0.16 101.5);
  --color-base-content: oklch(42% 0.095 57.708);
  --color-primary: oklch(0.4348 0.0997 118.56);
  --color-primary-content: oklch(0.8312 0.0589 130.21);
  --color-secondary: oklch(0.9659 0.1068 112.54);
  --color-secondary-content: oklch(52.3% 0.095 131.4);
  --color-accent: oklch(92.5% 0.156 77.7);
  --color-accent-content: oklch(47.3% 0.072 81.8);
  --color-neutral: oklch(95.4% 0.065 84);
  --color-neutral-content: oklch(0.4244 0.1143 56.47);
  --color-info: oklch(89.8% 0.1 305.5);
  --color-info-content: oklch(45.6% 0.1 301.3);
  --color-success: oklch(78.4% 0.076 124.3);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(78.6% 0.255 91.9);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(86.1% 0.21 23.1);
  --color-error-content: oklch(38.6% 0.213 15);

  --color-muted: var(--color-neutral);
  --color-muted-foreground: oklch(45% 0.03 80);

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}

@layer base {
  :root {
    --font-sans: sans-serif;
    --font-serif:
      /* Latin */ Alegreya, Merriweather, Palatino, Garamond,
      Baskerville, "Libre Baskerville", Georgia, /* CJK */ "Noto Serif CJK SC",
      /* End */ serif;
  }
}

@utility text-muted {
  color: var(--color-muted);
}

@utility text-muted-foreground {
  color: var(--color-muted-foreground);
}

/* Type-scale */
@theme {
  /* Modular scale based on 1.25 (Major Third) */
  --ts-0: 1.0625rem;
  --ts-1: 1.25rem;
  --ts-2: 1.563rem;
  --ts-3: 1.953rem;
  --ts-4: 2.441rem;
  --ts-5: 3.052rem;

  /* Line-height tuned for CJK */
  --lh-tight: 1.28;
  --lh-normal: 1.7;
  --lh-relaxed: 1.8;
}

@import "./prose.css";
@import "./code.css"
